/*
Fonts
*/
@font-face {
  font-family: "samsungsharpsans bold";
  src: url("samsungsharpsans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "samsungsharpsans medium";
  src: url("samsungsharpsans-medium.ttf") format("truetype");
}

@font-face {
  font-family: "samsungsharpsans sans";
  src: url("samsungsharpsans-medium.ttf") format("truetype");
}
@font-face {
  font-family: "samsungOne-400";
  src: url("SamsungOne-400.ttf") format("truetype");
}

@font-face {
  font-family: "samsungOne-700";
  src: url("SamsungOne-700.ttf") format("truetype");
}