/*
Media Query
*/
@media all and (min-width:320px) and (max-width:574px) {
  .footer-copyright {
    font-size: var(--font-size-10);
  }
  .breakLine-final {
    display: none;
  }
}
@media all and (min-width:575px) {
  .container {
    width: 54rem;
  }
  .accordion_caption{
    text-align: left;
  }
}
@media all and (min-width:768px) {
  .container {
    width: 72rem;
  }
  .footer-section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-section-middle {
    display: none;
  }
  .footer-section-links_wrapper {
    display: flex;
  }
  .footer-language {
   display: none;
  }
  .footer-copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-final-section {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-final__link-left {
    font-size: 0.6rem;
  }
  .footer-final-section_right {
    flex-direction: row;
    padding-bottom: 0;
  }
  .footer-final__title {
    margin-bottom: 0;
    font-size: 0.6rem;
  }
  .footer-final__socialitems {
    width: 2rem;
    height: 2rem;
    margin-left: 0.2rem;
  }
  .footer-final__icons {
    font-size: 1rem;
  }
}
@media all and (min-width:992px) {
  .container {
    width: 96rem;
  }
  .footer-copyright {
    font-size: var(--font-size-12);
  }
}
@media all and (min-width:1200px) {
  .container {
    width: 114rem;
  }
}
@media all and (min-width:1400px) {
  .container {
    width: 137rem;
  }
}