/*
Media Query
*/

@media all and (min-width:575px) {
  .container {
    width: 54rem;
  }
  .accordion_caption{
    text-align: left;
  }
}
@media all and (min-width:768px) {
  .container {
    width: 72rem;
  }
  .footer-section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-section-middle {
    display: none;
  }
}
@media all and (min-width:992px) {
  .container {
    width: 96rem;
  }
}
@media all and (min-width:1200px) {
  .container {
    width: 114rem;
  }
}
@media all and (min-width:1400px) {
  .container {
    width: 137rem;
  }
}